body {
  background: #699fb0; 
  font-family: "San Francisco";
  color: #f4fafc;
  margin-left: .75cm;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
